.AddMovie {
    padding: 20px;

}

.float-child {
    width: 35%;
    float: left;
}

.float-child .blue {
    min-height: 550px;
    height: 100%;
    width: 840px;
    background-color: rgb(6, 0, 29);

    border-radius: 25px;
}




.float-child .blue .flex-container .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.float-child .blue .flex-container .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.float-child .blue .flex-container .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.float-child .blue .flex-container .form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
.float-child .blue .flex-container .form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.float-child .blue .flex-container {
    display: flex;
}




.float-child .blue .button-66 {
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    left: 40%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}


.float-child .blue .button-66:hover {
    background-image: linear-gradient(to right, #0d7068, #29ad5c);
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .float-child .blue .button-66 {
        padding: 16px 44px;
        min-width: 150px;
    }
    
}



.float-child .blue .select-dropdown,
.float-child .blue .select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 200px;
}

.float-child .blue .select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.float-child .blue .select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.float-child .blue .select-dropdown select:active,
.select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.float-child .blue .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.float-child .blue .catagory_text {
    font-family: inherit;
    width: 80px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #9b9b9b;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.box {
    position: relative;
}

.input1 {
    padding: 0px;
    width: 100px;
    height: 40px;
    background: none;
    border: 4px solid #2dffb9;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #2dffb9;
    outline: none;
    transition: .5s;
}

.box:hover .input1 {
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}

.box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #2dffb9;
    transition: .2s;
}

.box:hover i {
    opacity: 0;
    z-index: -1;
}



.ag-format-container {
    width: 800px;
    margin: 0 auto;
}



.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #ffffff;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #22cf95;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #4c49ea;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .float-child {
      width: 100%; /* Ekran genişliğinin tamamını kaplasın */
      float: none; /* Float'ı kaldır */
      padding: 10px; /* Daha dar bir iç kenar boşluğu */
    }
  
    .float-child .blue {
      width: 100%; /* Ekran genişliğinin tamamını kaplasın */
      min-height: auto; /* Minimum yüksekliği kaldır */
      border-radius: 0; /* Köşe yuvarlamasını kaldır */
    }
  
    .float-child .blue .flex-container .form__group {
      width: 100%; /* Genişliği tam ekran genişliği kadar olsun */
    }
  
    .float-child .blue .button-66 {
      left: 50%; /* Orta pozisyon için */
      transform: translateX(-50%); /* Orta pozisyon için */
      width: 80%; /* Genişliği daha düzgün bir şekilde ayarlayın */
    }
  
    /* Diğer mobil uyumluluk ayarları buraya eklenir */
  }

  @media (min-width: 768px) and (max-width: 1250px) {
    .float-child {
        width: 100%;
        float: none;
        padding: 8px;
    }
    .float-child .blue {
      width: 100%; /* Ekran genişliğinin %80'ini kaplasın */
      margin: 0 auto; /* Ortala */
    }
  
    .float-child .blue .flex-container .form__group {
      width: 100%; /* Genişliği tam ekran genişliğinin %80'i kadar olsun */
    }
  
    .float-child .blue .button-66 {
      left: 50%; /* Orta pozisyon için */
      transform: translateX(-50%); /* Orta pozisyon için */
      width: 60%; /* Genişliği daha düzgün bir şekilde ayarlayın */
    }
  
    /* Diğer tablet uyumluluk ayarları buraya eklenir */
  }